.output{
    background-color: rgb(124, 124, 32);
    display: flex;
    font-size: 1rem;    
    color: rgba(210, 185, 94, 0.966);
    padding: 0.7rem;
    min-height: 3.5rem;
    justify-content: center;
    align-items: center;
}